<div class="centered">
  <div class="card-body">
    <div class="card-header">
      <%= @pin.name %>
    </div>
    <img class="card-img-top" src=<%= "/images/" <> @pin.img_src %>
    <br />
    <p>
      Quantity: <%= @pin.quantity %> | $<%= @pin.price %>
    </p>
    <span><%= link "Edit", to: pin_path(@conn, :edit, @pin) %></span>
    <span><%= link "Back", to: page_path(@conn, :index) %></span>
  </div>
</div>
