<h2>Show Pin</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @pin.name %>
  </li>

  <li>
    <strong>Quantity:</strong>
    <%= @pin.quantity %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @pin.price %>
  </li>

</ul>

<span><%= link "Edit", to: pin_path(@conn, :edit, @pin) %></span>
<span><%= link "Back", to: pin_path(@conn, :index) %></span>
